.yellow {
  color: yellowgreen;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 100px;
  padding-bottom: 100px;
}
h1 {
  font-size: 50px;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(salmon, tomato);
  border-radius: 10px;
  padding: 10px 40px;
  font-weight: 700;
  color: aliceblue;
}
.mid-sec img {
  width: 60%;
  padding-left: 100px;
}
.mid-sec p {
  padding-right: 50px;
}
.mid-sec {
  background-image: url(Images/58.jpg);
  background-repeat: no-repeat;
  padding-top: 52px;
}
.recipe-head {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.details {
  font-size: 20px;
  font-weight: 400;
  padding-left: 200px;
  padding-right: 200px;
}
.menu-card {
  box-shadow: 1px -2px 20px 0px grey;
  width: 40%;
  padding: 15px;
  margin: 20px;
  text-align: left;
  border-radius: 25px;
}
.menu-card img {
  width: 100%;
}
.menu {
  padding-left: 60px;
  padding-right: 60px;
}
.followers {
  box-shadow: 0px 0px 20px grey;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 100px;
}
.followers-div {
  width: 50%;
  text-align: center;
}
.bottom-line {
  display: block;
  margin-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: black;
  color: whitesmoke;
  padding-top: 20px;
}
